In [2]:
import pandas as pd
data_smoker = pd.read_csv('AxisInsurance.csv')

In [3]:
data_smoker.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
data_smoker.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [7]:
data_smoker_sorted = data_smoker.sort_values('smoker')

In [25]:
df_yes, df_no = [x for _, x in data_smoker.groupby(data_smoker['smoker'] == 'no')]

In [26]:
df_yes.head()

    age     sex    bmi  children smoker     region     charges
0    19  female  27.90         0    yes  southwest  16884.9240
11   62  female  26.29         0    yes  southeast  27808.7251
14   27    male  42.13         0    yes  southeast  39611.7577
19   30    male  35.30         0    yes  southwest  36837.4670
23   34  female  31.92         1    yes  northeast  37701.8768

In [27]:
df_yes.describe()

              age         bmi    children       charges
count  274.000000  274.000000  274.000000    274.000000
mean    38.514599   30.708449    1.113139  32050.231832
std     13.923186    6.318644    1.157066  11541.547176
min     18.000000   17.195000    0.000000  12829.455100
25%     27.000000   26.083750    0.000000  20826.244213
50%     38.000000   30.447500    1.000000  34456.348450
75%     49.000000   35.200000    2.000000  41019.207275
max     64.000000   52.580000    5.000000  63770.428010

In [28]:
df_no.head()

   age     sex     bmi  children smoker     region      charges
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160

In [29]:
df_no.describe()

               age          bmi     children       charges
count  1064.000000  1064.000000  1064.000000   1064.000000
mean     39.385338    30.651795     1.090226   8434.268298
std      14.083410     6.043111     1.218136   5993.781819
min      18.000000    15.960000     0.000000   1121.873900
25%      26.750000    26.315000     0.000000   3986.438700
50%      40.000000    30.352500     1.000000   7345.405300
75%      52.000000    34.430000     2.000000  11362.887050
max      64.000000    53.130000     5.000000  36910.608030

In [30]:
#so
s_no = 8434.268298
n_no = 1064
s_yes = 11541.547176
n_yes = 274
s_combined = (s_no**2/n_no+s_yes**2/n_yes)**.5
print(s_combined)

743.6504835435942

In [31]:
Xbar_no = 32050.231832
Xbar_yes = 8434.268298
tstat = (Xbar_no - Xbar_yes)/s_combined
print(tstat)

31.75680518819375

In [36]:
from scipy.stats import t
T = t(df=n_no+n_yes-2, loc=0, scale=1)
pvalue = 1-T.cdf(tstat )
print(pvalue)

0.0